<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.go.jabarprov.dbmpr.feature.authentication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:theme="@style/Theme.Temanjabar">
        <activity
            android:name=".presentation.activity.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.activity.LoginActivity"
            android:exported="true" />
    </application>

</manifest>