<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.go.jabarprov.dbmpr.feature.report">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application android:theme="@style/Theme.Temanjabar">
        <activity
            android:name=".presentation.activity.ReportActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.activity.ListReportActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.activity.FormReportActivity"
            android:exported="true" />
    </application>

</manifest>